<cre-search-list items="instance in runningTestList" 
    empty-message="No Running Tests" filter="{ testDefinition: {
        header: 'Filter Instances', 
        placeholder: 'Test Definition Name' 
    } }" order-by="'start'" reverse>
    <cre-dynamic-list items="(sname, suite) in instance.suites" list-style='panel'>
        <div class='heading-transclude'> 
            <span class='label label-warning'>Test Running</span>
            <span class='h5'>{{instance.testDefinition}}</span>
            <div ng-if='instance.trigger && instance.env[instance.trigger]' class='h5 pull-right'>
                <small>with&nbsp;</small>
                <strong>{{instance.trigger}}</strong>
                <small>&nbsp;@&nbsp;</small>
                <strong>{{instance.env[instance.trigger]}}</strong>
            </div>
            <div class='h5 pull-right'>
                <small>launched&nbsp;on&nbsp;</small>
                <strong>{{instance.start | date:'yyyy-MM-dd HH:mm:ss.sss'}}</strong>
                <small>&nbsp;</small>
            </div>
        </div>             
        <cre-dynamic-list items="case_ in suite.cases" list-style='panel' 
            type="{{(suite.finished && (!suite.passed)) ? 'danger' : ''}}">
            <div class='heading-transclude'>
                <span class='label' ng-class="{
                    'label-warning' : !suite.finished,
                    'label-success' : suite.finished && suite.passed,
                    'label-danger' : suite.finished && (!suite.passed)
                }">Suite {{suite.finished ? '' : 'Running'}}{{(suite.finished && suite.passed) ? 'Passed' : ''}}{{(suite.finished && (!suite.passed)) ? 'Failed' : ''}}</span>
                <span class='h5'>{{sname}}</span>
                <div class='h5 pull-right'>
                    <small>launched&nbsp;on&nbsp;</small>
                    <strong>{{suite.start | date:'yyyy-MM-dd HH:mm:ss.sss'}}</strong>
                    <small>&nbsp;</small>
                </div>
            </div>
            <cre-dynamic-list ng-if="!case_.start">
                <div class='heading-transclude'>
                    <span class='label label-default'>Case Waiting</span>
                    <span class='h5'>{{case_.name}}</span>
                </div>
            </cre-dynamic-list>
            <cre-dynamic-list items="operation in caseInfoCache[case_.id].operations"
                list-expanded="requestCaseInfo(instance, suite, case_)" list-style='panel'
                list-collapsed="requestCaseInfo(instance, suite, case_, true)" 
                type="{{(case_.end && (!case_.passed)) ? 'danger' : ''}}"
                ng-if="case_.start">
                <div class='heading-transclude'>
                    <span class='label' ng-class="{
                        'label-warning' : !case_.end,
                        'label-success' : case_.end && case_.passed,
                        'label-danger' : case_.end && (!case_.passed)
                    }">Case {{case_.end ? '' : 'Running'}}{{(case_.end && case_.passed) ? 'Passed' : ''}}{{(case_.end && (!case_.passed)) ? 'Failed' : ''}}</span>
                    <span class='h5'>{{case_.name}}</span>
                    <div class='h5 pull-right'>
                        <small>launched&nbsp;on&nbsp;</small>
                        <strong>{{case_.start | date:'yyyy-MM-dd HH:mm:ss.sss'}}</strong>
                        <small>&nbsp;</small>
                    </div>
                </div>
                <!-- <div class='body-transclude'>
                    {{case_ | json}}
                    <em>Operations: </em>
                </div> -->
                <cre-dynamic-list ng-if='!operation.started'>
                    <span class='h5 heading-transclude'>
                        <span class='label label-default'>Operation Waiting</span>
                        <span class='label label-default'>{{operation.type}}</span>
                        <span class='label label-default'>{{operation.async ? 'Async' : 'Sync'}}</span>
                        {{operation.name}}
                    </span>
                </cre-dynamic-list>
                <cre-dynamic-list items="step in operationInfoCache[operation.id].steps"
                    list-style='panel' type="{{(operation.passed === false) ? 'danger' : ''}}"
                    list-expanded="requestOperInfo(instance, suite, case_, operation)"
                    list-collapsed="requestOperInfo(instance, suite, case_, operation, true)"
                    ng-if='operation.started'>
                    <span class='h5 heading-transclude'>
                        <span class='label' ng-class="{
                            'label-warning' : !operation.finished,
                            'label-success' : operation.finished && operation.passed,
                            'label-danger' : operation.finished && (!operation.passed)
                        }">Operation {{operation.finished ? '' : 'Running'}}{{(operation.finished && operation.passed) ? 'Passed' : ''}}{{(operation.finished && (!operation.passed)) ? 'Failed' : ''}}</span>
                        <span class='label label-default'>{{operation.type}}</span>
                        <span class='label' ng-class="{
                            'label-primary' : !operation.async,
                            'label-info' : operation.async
                        }" ng-if='operation.type === "ssh"'>{{operation.async ? 'Async' : 'Sync'}}</span>
                        <span class='label label-primary' ng-click='openConsole(operation.target)' ng-if='operation.type === "ssh"'>{{operation.target.host}}&nbsp;&nbsp;<i class='glyphicon glyphicon-new-window'></i></span>
                        {{operation.name}}
                    </span>
                    <span class='h5 heading-transclude pull-right'>
                        <small>{{operation.message || 'No detailed message.'}}</small>
                    </span>
                    <!-- <span class='body-transclude'>
                        {{operation | json}}
                    </span>
                    <span class='body-transclude' 
                        ng-if="!operationInfoCache[operation.id].steps || 
                            operationInfoCache[operation.id].steps.length === 0">
                        <em>No steps found in this operation.</em>
                    </span>
                    <span class='body-transclude' 
                        ng-if="operationInfoCache[operation.id].steps && 
                            operationInfoCache[operation.id].steps.length > 0">
                        <em>Steps:</em>
                    </span> -->
                    <cre-ssh-step-detail id="step.id" name="step.name" passed="step.passed"
                        cmd="step.cmd" start="step.start" end="step.end" critical="step.critical"
                        exit-status="(step.exitSignal || step.exitCode)" 
                        on-request-detail="requestSSHStepDetail(step)">
                    </cre-ssh-step-detail>
                </cre-dynamic-list>                     
            </cre-dynamic-list>
        </cre-dynamic-list>
    </cre-dynamic-list>
</cre-search-list>
