<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="web.config">
    </location>
    <system.webServer>
        <handlers>
            <remove name="iisnode" />
            <add name="iisnode" path="cre.js" verb="*" modules="iisnode" />
        </handlers>
    </system.webServer>
</configuration>
